.section-translate-left {
    background-color: #212936cc;
    padding: 24px;
    border-radius: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border:1px solid #4D5562;
    z-index: 2;
}
.text-to-translate {
    margin-top: 16px;
    border: 0;
    border-top:1px solid #4D5562;
    background-color: #21293600;
    height: 140px;
    padding-top: 24px;
    font-family: "DM Sans", sans-serif;
    color: #F9FAFB;
    font-size: 16px;
    outline: none;
    resize: none;

}
.languages {
    display: flex;
    gap: 10px;
}
.a-detect-language{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.a-language{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.a-language.active{
    background-color: #4D5562;
    color: #F9FAFB;
    border-radius: 10px;
}
.a-language:hover{
    background-color: #4D5562;
    color: #F9FAFB;
    border-radius: 10px;
}
.textarea-text {
    width: 100%;
    background-color: #212936cc;
    border: 0px;
}
.letters{
    text-align: right;
    font-size: 12px;
    color: #6b727b;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}


#btn-translate {
    font-family: "DM Sans", sans-serif;
    display: flex;
    gap:12px;
    background-color: #3662E3;
    color: #F9FAFB;
    align-items: center;
    border: 0;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
    font-size: 16px;
}

#spanish-link{
    display: flex;
    gap: 5px;
}


@media screen and (max-width: 1024px) {
    .section-translate {
        width: 1000px;
    }
}