#root {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #040711;
}

#root header {
  background-image: url('images/hero_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  position: relative;
  z-index: 1;
}
main {
  width: 100%;
  position: absolute;
  top: 180px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color:#040711;
}
.logo {
  position: absolute;
  margin-top: 105px;
  left: 50%;
  transform: translate(-50%, -50%);
}
